withD/outputs/logs/
withD/outputs/sbatch/
withD/outputs/T5models/
dataset/
withD/outputs/tensorboard/
withD/outputs_woC/logs/
withD/outputs_woC/tensorboard/
withD/outputs_woC/sbatch/
withD/outputs_woC/T5models/
withoutD/outputs/logs/
withoutD/outputs/sbatch/
withoutD/outputs/tensorboard/
withoutD/outputs/T5models/
withoutD/outputs_woC/logs/
withoutD/outputs_woC/sbatch/
withoutD/outputs_woC/T5models/
withoutD/outputs_woC/tensorboard/
*.ckpt
*.out
*.json